/*--------------------------------------------
font
----------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&family=Varela+Round&display=swap");

body {
  font-family: "Titan One", cursive;
}

:root {
  --color-blue: #6e9fe4;
  --color-green: #00d084;
  --color-yellow: #fcb900;
  --color-red: #f00;
  --color-violeta: #c751c0;
  --color-darkgreen: #305e27;
  --color-lightblue: #2855e9;

  --color-footer: #0a1844;
}
.line-cloud{
  width: 100%;
  padding-top: 130px;
  overflow: hidden;
}
.line_cloud img{
  width: 100%;
}
.padding-section {
  padding: 100px 0;
}
.section-title {
  font-size: 50px;
  margin-bottom: 40px;
}
.text-red{
  color: #f00;
}
.text-orange{
  color: #f90;
}
.text-yellow{
  color: #fcb900;
}
.text-ligthgreen{
  color: #00d084;
}
.text-green{
  color: #218121;
}
.text-blue{
  color: #2855e9;
}
.text-violet{
  color: #c751c0;
}
.btn-violet{
  background-color: #c751c0;
  color: #fff;
  border-radius:15px;
}
.btn-violet:hover{
  background-color: #af4ea9;
  color: #fff;
}
.btn-violet:focus{
  box-shadow: none;
}

/*------------------------------
menu section
--------------------------------*/
.menu {
  position: absolute;
  width: 100%;
  z-index: 26;
}
.menu .navbar{
  background-color: var(--color-blue);
}

.menu .navbar-toggler i{
  color: #fff;
  font-size: 40px;
}
.menu .navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}
.menu .navbar-brand{
  height: 200px;
}
.menu .navbar-brand img{
  height: 100%;
}

.navbar-nav .nav-link {
  font-size: 20px;
  color: #fff;
  position: relative;
}
.navbar-nav .nav-link:hover {
  color: var(--color-violeta);
}
/*---------------------------------
home section
-----------------------------------*/
.home {
  height: 110vh;
  position: relative;
  z-index: 10;
  background: var(--color-blue);
  padding-top: 25%;
  z-index: 15;
  overflow: hidden;
}
.home::after {
  content: "";
  position: absolute;
  background-image: url("../img/montañas.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  z-index: 20;
}

.home .carousel {
  position: relative;
  z-index: 25;
}

.home .carousel .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -15%;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 0;
  margin-left: 15%;
}
.home .carousel-item {
  overflow: hidden;
}

.home .carousel .col-lg-3 {
  margin-right: 20px;
  margin-left: 20px;
  width: 25%;
}

.carousel .card {
  width: 100%;
  overflow: hidden;
  height: 300px;
}

.carousel .card img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.divisor {
  width: 100%;
  height: 100px;
  background-color: #427239;
  clip-path: ellipse(71% 84% at 51% 14%);
}

/*--------------------------------------------------------
section about
-----------------------------------------------------------*/
.section-about p {
  font-size: 20px;
}
.section-about .img {
  position: relative;
  /* left: 10%; */
}
.section-about .img,
.section-about .img img {
  width: 100%;
}

/*-------------------------------------------------------
footer section
----------------------------------------------------------*/
.divisor-2 {
  width: 100%;
  height: 100px;
  background-color: var(--color-footer);
  clip-path: ellipse(100% 68% at 7% 82%);
}

footer {
  background-color: var(--color-footer);
}

footer a {
  display: block;
  font-size: 40px;
  text-align: center;
  width: 40px;
  margin: auto;
  transition: all 0.4s;
}
footer .fac{
  color: var(--color-lightblue);
}
footer .ins{
  color: var(--color-violeta);
}
footer .wha{
  color: var(--color-green);
}
footer a:hover{
  color: #fff;
}

footer p, footer .power {
  color: #fff;
  font-family: "Varela Round", sans-serif;
  margin-bottom: 0;
  font-size: 18px;
  cursor: pointer;
}

/*------------------------------------------------
encabezado de servicios
----------------------------------------------------*/
.home-services{
  /* padding-top: 300px; */
}

.home-services h1{
  font-size: 50px;
}

.line{
  width: 100%;
  height: 1px;
  background-color: rgb(51, 167, 22);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.anim_1,
.anim_2,
.anim_3,
.anim_4,
.anim_5,
.anim_6,
.anim_7,
.anim_8{
  animation: fadeIn 1s ease-in-out;
  animation-fill-mode: both;
  opacity: 0;
}

.anim_1 {
  animation-delay: 0.5s;
}

.anim_2 {
  animation-delay: 1s;
}
.anim_3{
  animation-delay: 1.5s;
}

.anim_4{
  animation-delay: 2s;
}

.anim_5 {
  animation-delay: 2.5s;
}

.anim_6 {
  animation-delay: 3s;
}

.anim_7 {
  animation-delay: 3.5s;
}

.anim_8 {
  animation-delay: 4s;
}


/*-------------------------------------------------------
section products
---------------------------------------------------------*/
.section-products .card{
  text-align: center;
  height: 70% !important;
  /* font-family: "Varela Round", sans-serif; */
}
.section-products .card img{
  object-fit: cover;
  height: 50%;
}
.section-products .card h5{
  font-size: 25px;
  color: var(--color-lightblue);
}
.section-products .card p{
  font-size: 15px;
  color: #797777;
}
.section-products .card .btn{
  color: #fff;
  border-radius:15px;
}
.section-products .card .btn:focus{
  box-shadow: none;;
}
.section-products .card .btn-1{
  background: var(--color-violeta);
}
.section-products .card .btn-1:hover{
  background: #af4ea9;
}

.section-products .card .btn-2{
  background: var(--color-red);
}

.section-products .card .btn-2:hover{
  background: #dd2323;
}

.section-products .card .btn-3{
  background: var(--color-green);
}
.section-products .card .btn-3:hover{
  background: #62c788;
}

/*-------------------------------------------------------
contact page
---------------------------------------------------------*/
.section-form{
  /* padding-top: 300px; */
}
.section-form h1{
  font-size: 50px;
}
/*-------------------------------------
responsive
--------------------------------------*/
@media (max-width: 992px){
  .line-cloud{
    padding-top: 170px;
  }
  .home {
    padding-top: 30%;
  }
  .home .carousel .col-lg-3 {
    width: 27%;
  }
  .carousel .card {
    height: 150px;
  }

  .home .carousel {
    margin-top: 25%;
  }
}

@media (max-width: 768px){
  .line-cloud{
    padding-top: 170px;
  }
  .section-title {
    font-size: 40px;
  }
  .home .carousel .col-lg-3 {
    width: 40%;
  }
  .carousel .card {
    height: 150px;
  }
  .home-services h1{
    font-size: 40px;
    text-align: center;
  }
  .t-sm-center{
    text-align: center;
}
.section-form h1{
  font-size: 40px;
  text-align: center;
}
  
}


@media (max-width: 576px){
  .line-cloud{
    padding-top: 100px;
  }
  .section-title {
    font-size: 30px;
  }
  .menu .navbar-brand{
    height: 100px;
  }
  .home .carousel .col-lg-3 {
    width: 70%;
  }
  .carousel .card {
    height: 170px;
  }
.home .carousel .carousel-indicators {
    bottom: -5%;
 }
  .home .carousel {
    margin-top: 20%;
  }
  .home-services h1{
    font-size: 30px;
  }
  .home-services{
    padding-top: 140px;
  }
  .section-form{
    padding-top: 140px;
  }
  .section-form h1{
    font-size: 30px;
  }
  
}
