<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home-Kidsfun y Fiestas Infantiles</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- animaciones CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <!-- main css -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/animation.css">
    <link rel="stylesheet" href="./css/description.css">
    <!--icon bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
</head>

<body>
    <header class="menu">
        <nav class="navbar navbar-expand-sm">
            <div class="container">
                <a class="navbar-brand" href="../index.html">
                    <img src="../img/logo.png" alt="logo"/>
                </a>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="bi bi-list"></i>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="nav navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="../index.html" aria-current="page">Home <span
                                    class="visually-hidden"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../services.html">Products and services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<!----------------------------------section description start------------------------>

<div class="line-cloud"><img src="../img/cloud-line.png" alt="line cloud"></div>


<section class="section-description padding-section">
    <div class="container">
        <div class="row">
            <h1>
                <span class="text-green anim_1">Description</span> 
                <span class="text-blue anim_2">of</span> 
                <span class="text-violet anim_3">products</span>
            </h1>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 col-lg-6 des" data-aos="fade-right">
                <h3>Bounce House 15x15ft</h3>
                <p style="text-align: justify;">Inflable unisex perfecto para el entretenimiento de los más peques de la casa</p>
                <a href="../services.html" class="btn btn-violet shadow">go back</a>
            </div>
            <div class="col-md-6 col-lg-6 anim_4">
                <div class="img-description">
                    <img src="http://drive.google.com/uc?export=view&id=1Se3xHJ-E6Yuz-HN1WkQ0sYYQ5-f0O0oh" alt="">
                </div>
            </div>
        </div>
        <div class="row galery-des justify-content-center align-items-center">
            <div class="col-md-4 col-lg-4" data-aos="fade-up">
                <div class="img">
                    <img src="http://drive.google.com/uc?export=view&id=1GlOH2wGHJuFADE9qm1Qcwp3FkhC9DPBP" alt="Descripción de la imagen" />
                </div>
            </div>
            <div class="col-md-4 col-lg-4" data-aos="fade-up">
                <div class="img">
                    <img src="http://drive.google.com/uc?export=view&id=1BWKm_D_hHV9b53r-0A-T5uDbKh-cJ1iE" alt="Descripción de la imagen" />
                </div>
            </div>
            <div class="col-md-4 col-lg-4" data-aos="fade-up">
                <div class="col-md-4 col-lg-4" data-aos="fade-up">
                    <div class="img">
                        <img src="http://drive.google.com/uc?export=view&id=1W2qrQRX1hV8zhpFXbmMIYIgGiToaz9Z0" alt="Descripción de la imagen" />
                    </div>
                </div>
        </div>
        <div class="row galery-des justify-content-center align-items-center">
            <div class="col-md-4 col-lg-4" data-aos="fade-up">
                <div class="img">
                    <img src="http://drive.google.com/uc?export=view&id=1Vm2JQx6W2xFsLwMqp0QWlMezsByao08t" alt="">
                </div>
            </div>
            <div class="col-md-4 col-lg-4" data-aos="fade-up">
                <div class="img">
                    <iframe
                    width="560"
                    height="315"
                    src="https://youtube.com/shorts/gaXtgaaNmYA?feature=share"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="col-md-4 col-lg-4" data-aos="fade-up">
                <div class="img">
                    <img src="http://drive.google.com/uc?export=view&id=1F9wMWHmP9bi3LtoAGGoFilZbiTkiv-VY" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--------------------------------section description end------------------------>

    <div class="divisor-2"></div>
    <footer class="">
       <div class="container">
           <div class="row justify-content-center align-items-center pb-3">
            <div class="col-3 col-lg-1">
                <a class="fac" href="https://www.facebook.com/BouncehouseNY">
                    <i class="bi bi-facebook"></i>
                </a>
            </div> 
            <div class="col-3 col-lg-1">
                <a class="ins" href="https://www.instagram.com/kidsfunyfiestasinfantiles/">
                    <i class="bi bi-instagram"></i>
                </a>
            </div> 
            <div class="col-3 col-lg-1">
                <a class="wha" href="https://wa.me/3478704240">
                    <i class="bi bi-whatsapp"></i>
                </a>
            </div> 
            <div class="col-lg-8 text-center text-lg-end mt-3 mt-lg-0">
                <p>
                    <span class="text-violet">Copyright &copy; </span>
                    <span class="text-orange">Kidsfun y Fiestas Infantiles </span>
                    <span class="text-yellow">2023 Kidsfun y </span>
                    <span class="text-green">Fiestas Infantiles</span>
                </p>    
            </div>     
           </div>
           <div class="row justify-content-center align-items-center pb-3">
            <a href="#" class="text-end power">Power by webforallsv.com</a>
           </div>
       </div>
    </footer>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="../js/bootstrap.min.js"></script>

    <!--animaciones-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>